<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Weibo Demo</title>
    <link href="https://cdn.bootcss.com/spectre.css/0.2.14/spectre.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    <section class="section section-header">
        <section class="grid-header container grid-960">
            <header class="navbar">
                <section class="navbar-section">
                    <a href="/" class="navbar-brand mr-10">Sujitech's Demo Site</a>
                    <a href="/weibo-demo" class="btn btn-link">Weibo Demo</a>
                </section>
                <section class="navbar-section">
                </section>
            </header>
        </section>
    </section>
    </header>
    <section id="introduction" class="container grid-960">
        <header class="text-center">
            <h1><a href="#" class="anchor" aria-hidden="true">#</a> Weibo Demo Navi Page</h1>
        </header>
        {% for user, weibos in filelist.items %}
        <div class="column col-6 col-xs-12">
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-title">{{ user }}</div>
                </div>
                <div class="panel-body" style="overflow:scroll-y; height:400px;">
                    {% for weibo in weibos%}
                    <div class="tile">
                        <div class="tile-content">
                            <a href={{ weibo.2 }} class="tile-title">{{ weibo.0 }}</a>
                            <p class="tile-subtitle">{{ weibo.1 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
    </section>
</body>